.coupon-item {
    display: flex;
    background-color: #fff;
    margin: 7px 0;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-between;
    position: relative;

    &-code {
        display: flex;
        align-items: center;
        font-family: Monospace, Arial, sans-serif;
    }

    &-sticker {
        position: absolute;
        top: 5px;
        left: 5px;
        font-weight: 700;
        padding: 5px;
        color: white;
        border-radius: 18px;

        &--active {
            background-color: rgb(122, 168, 101);
        }
        &--inactive {
            background-color: red;
        }
    }
}