.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  & .coupon-list {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
}